a.button-red:link, a.button-red:visited {
    background-color: #e43a2e;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.button-red:hover, a.button-red:active {
    background-color: red;
}
a.button-green:link, a.button-green:visited {
    background-color: green;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.button-green:hover, a.button-green:active {
    background-color: #32c527;
}
a.button-slategray:link, a.button-slategray:visited {
    background-color: slategray;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.button-slategray:hover, a.button-slategray:active {
    background-color: green;
}

button.red{
    /*/background-color: #e43a2e;*/
    background-color: #e4a22e;
    color: #ffffff;
}
button.red:hover{
    background-color: red;
}

button.green{
    background-color: green;
    color: #ffffff;
}
button.green:hover{
    background-color: #32c527;
}
