body{
	background-color: #e9ebee;
	/*background-image: url("nic_backfade.jpg");*/
}

.menu, .submenu{
    list-style-type: none;
    margin: 0;
    padding: 2px 2px;
    overflow: hidden;
    background-color: #3b5998;
    color: white;
}
.submenu{
    background-color: #5776b6;
}

.menu a, .submenu a {
    text-decoration: none !important;
    color: inherit;
}
.menu li, .submenu li {
    float: left;
    padding: 0px 4px;
}
.menu li a:hover, .submenu li a:hover {
    color: #000;
    background-color: #ccc;
}
.menu li a, .submenu li a, .menu-navitem {
    display: block;
    padding: 0px 4px;
}

div.mensaje {
    background-color: #ffffc1;
    border: 2px solid red;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    width: 400px;
}
